{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block content %}
<svg 
  id="bigTriangleShadow"
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1" width="100%" height="100" 
  viewBox="0 0 100 100" preserveAspectRatio="none">
  <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z"></path>
  <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
<div class="containers">
  <section class="content-wrapper">
    <h1 class="text-center page-title">
      Projects
    </h1>
    <article class="project-content">
      <h2 class="item-title">Onionshare</h2>
      <p>
        <a href="https://onionshare.org">OnionShare</a> is an open source tool that lets you securely and 
        anonymously share a file of any size. I am working with the team on improving,
        adding and maintaining different features of OnionShare. working
        in Flask and PyQT.
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">The A11Y Project</h2>
      <p>
        <a href="https://a11yproject.com">The A11Y Project</a> is a website catered towards various contents
        and resources related to web accessibility. "Accessibility is incredibly important, yet often
        overlooked in traditional digital design and development education. Because of this,
        The A11Y Project strives to be a living example of how to create beautiful, accessible, and
        inclusive digital experiences."
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">OONI</h2>
      <p>
        <a href="https://ooni.org">Open Observatory of Network Interference (OONI)</a> is a
        free software, global observation network for detecting censorship, surveillance and
        traffic manipulation on the internet. I am contributing in improving design implementation
        in the main website, while also working on <a href="https://explorer.ooni.org/">OONI Explorer</a>
        to implement different features
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">Weblate</h2>
      <p>
        <a href="https://weblate.org">Weblate</a> is a web-based continuous localization
        platform used by over 1150 libre software projects. I am working in the Weblate project
        along with the team to improve frontend implementations and also improve API works. 
        Most of the work involves Django and jQuery
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">Bomkesh</h2>
      <p>
        <a href="https://github.com/kushaldas/bomkesh">Bomkesh</a> is a tool to monitor and block your mobile
        network traffic. I am working with <a href="https://kushaldas.in">Kushal Das</a> on implementing a tool to make it easier
        for users to monitor their mobile network traffic better to see which all network
        interactions are happening even when phone not in use. Working mostly in Python and Flask
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">OTF Result & Impact</h2>
      <p>
        Worked with the <a href="https://ura.design">Ura Design Team</a> to implement the result and impacts page for 
        Open Technology Fund. Most of the work was focused towards frontend development 
        using just HTML & CSS along with making it responsive for different screen sizes 
        and compatible with different browsers. 
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">2020 Demo Week - Prototype Fund</h2>
      <p>
        <a href="https://prototypefund.de">Prototype Fund</a> is a funding program of the
        Federal Ministry of Education and Research (BMBF) that is managed and evaluated
        by the <a href="https://okfn.de/en/">Open Knowledge Foundation Germany</a>. Demo Week
        2020 by Prototype Fund was an online event showcasing different projects submitted
        during the funding period.
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">Securedrop</h2>
      <p>
        Worked with the <a href="https://securedrop.org">Securedrop Team</a> to replace different
        Javascript features by CSS-only implementations so as the tool is still functional without
        any loss in UX at highest security of Tor browser. Worked mostly in CSS and writing Selenium
        tests.
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">jQuery</h2>
      <p>
        Worked actively in various refactoring and adding shadow DOM features in vanilla Javascript to
        the core jQuery codebase. Also helped in fixing bugs and issues in different modules.
      </p>
    </article>
    <article class="project-content">
      <h2 class="item-title">Drover</h2>
      <p>
        Drover is a mobile website for organisers of events of gatherings to communicate. Worked as
        Full Stack Developer making the entire application, using Django, jQuery and PostgreSQL.
      </p>
    </article>
  </section>
</div>

{% endblock %}
{% block footer_separator_cls %}light{% endblock %}