body
    margin: 0
    padding: 0

.flex
    display: flex


.containers
    padding: $padding-lg 0
    background: $white
    color: $dark-gray

    &.container-light
        background: $light-gray
        color: $black
    &.container-dark
        background: $dark-gray
        color: $light-gray
    .content-wrapper
        margin: 0 auto
        max-width: 75%

.text-center
    text-align: center

.hidden
    display: none