=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf')
    src: url('#{$path}.otf') format('opentype'), url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style


+font-face('Roboto Condensed', '../fonts/Roboto_Condensed/RobotoCondensed-Regular', 400)
+font-face('Roboto Condensed', '../fonts/Roboto_Condensed/RobotoCondensed-Bold', 700)
+font-face('Aileron', '../fonts/aileron.regular', 400)
+font-face('Aileron', '../fonts/aileron.bold', 600)