h1, h2, h3, h4, h5, h6
    font-family: $font-family-condensed
    color: $dark-gray
    margin: 0

    @media (prefers-color-scheme: dark)
        color: $white
h1
    font-size: $h1-font-size
h2
    font-size: $h2-font-size
h3
    font-size: $h3-font-size

.page-title
    margin-bottom: 2.5rem

.item-title
    color: $orange

    @media (prefers-color-scheme: dark)
        color: $green

p
    font-family: $font-family-base
    font-size: $font-size-lg
    line-height: 1.5

    &.subheading
        font-size: $h2-font-size
        font-family: $font-family-condensed
        font-weight: bold
        margin: 0

a
    color: $dark-blue
    text-decoration: none

    &:hover
        text-decoration: underline

    &:focus
        outline: none
        border: 2px dotted $dark-blue

        @media (prefers-color-scheme: dark)
            border-color: $white 


.secondary-text
    color: $gray

.upper-case
    text-transform: uppercase
